body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}


.a1, .a2, .a3, .a4 {
    position: absolute;
}

.a1 {
    width: 39px;
    height: 1024px;
    background-color: #7A40F2;
    left: 1px;
    top: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.a2 {
    width: 90px;
    height: 193px;
    background-color: #7A40F2;
    left: 29px;
    top: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.a3 {
    width: 90px;
    height: 57px;
    background-color: white;
    left: 19px;
    top: 193px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.a4 {
    width: 90px;
    height: 774px;
    background-color: #7A40F2;
    left: 29px;
    top: 250px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.NounHome1998078 {
    width: 50px;
    height: 41px;
    left: 34px;
    top: 76px;
    position: absolute;
}

.Rectangle111 {
    width: 50px;
    height: 40px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.Rectangle112 {
    width: 33px;
    height: 35px;
    left: 7px;
    top: 6px;
    position: absolute;
}

.Group6 {
    width: 51px;
    height: 410.79px;
    left: 34px;
    top: 210px;
    position: absolute;
}

.Group30Copy9 {
    width: 51px;
    height: 52.43px;
    left: 0px;
    top: 265.92px;
    position: absolute;
}

.Rectangle113 {
    width: 51px;
    height: 52.43px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.Rectangle114 {
    width: 25px;
    height: 21px;
    left: 13px;
    top: 18.08px;
    position: absolute;
}

.Group30Copy10 {
    width: 51px;
    height: 52.43px;
    left: 0px;
    top: 358.35px;
    position: absolute;
}

.Rectangle115 {
    width: 25px;
    height: 28px;
    left: 13px;
    top: 12.65px;
    position: absolute;
}

.Group30Copy6 {
    width: 51px;
    height: 52.43px;
    left: 0px;
    top: 79.93px;
    position: absolute;
}

.Rectangle116 {
    width: 23px;
    height: 25px;
    left: 14px;
    top: 13.07px;
    position: absolute;
}

.Group30Copy8 {
    width: 51px;
    height: 52.43px;
    left: 0px;
    top: 173.49px;
    position: absolute;
}

.Rectangle117 {
    width: 22px;
    height: 27px;
    left: 14px;
    top: 7.51px;
    position: absolute;
}

.Rectangle119 {
    width: 24px;
    height: 23px;
    left: 14px;
    top: 0px;
    position: absolute;
}

.Group30Copy5 {
    width: 51px;
    height: 52.43px;
    left: 34px; 
    top: 920.16px; 
    position: absolute;
}

.Rectangle118 {
    width: 25px; 
    height: 25px; 
    position: absolute;
    bottom: 215px;
    right: 50px;
}
/* code a html */





.cl1 {
    width: 1440px; 
    height: 1024px; 
    position: relative; 
    background: white;
}

.cl2 {
    width: 1440px; 
    height: 100px; 
    left: 0px; 
    top: 0px; 
    position: absolute;
}

.cl3 {
    width: 1237px; 
    height: 51px; 
    left: 153px; 
    top: 25px; 
    position: absolute;
}

.cl4 {
    width: 542px; 
    height: 50px; 
    left: 0px; 
    top: 1px; 
    position: absolute;
}

.cl5 {
    width: 542px; 
    height: 50px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #EDEEF4; 
    border-radius: 15px;
}

.cl6 {
    left: 52px; 
    top: 17px; 
    position: absolute; 
    color: #ACAFB5; 
    font-size: 14px; 
    font-family: Muli; 
    font-weight: 600; 
    line-height: 17px; 
    letter-spacing: 0.14px; 
    word-wrap: break-word;
}

.cl7 {
    width: 14px; 
    height: 14px; 
    left: 23px; 
    top: 18px; 
    position: absolute;
}

.cl8 {
    width: 50px; 
    height: 51px; 
    left: 1022px; 
    top: 0px; 
    position: absolute;
}

.cl9 {
    width: 50px; 
    height: 51px; 
    left: 0px; 
    top: 0px; 
    position: absolute;
}

.cl10 {
    width: 22px; 
    height: 24px; 
    left: 14px; 
    top: 13px; 
    position: absolute;
}

.cl11 {
    width: 6.26px; 
    height: 6.26px; 
    left: 28.17px; 
    top: 16.33px; 
    position: absolute; 
    background: #7A40F2; 
    border-radius: 9999px; 
    border: 1.08px white solid;
}

.cl12 {
    width: 50px; 
    height: 51px; 
    left: 962px; 
    top: 0px; 
    position: absolute;
}

.cl13 {
    width: 50px; 
    height: 51px; 
    left: 0px; 
    top: 0px; 
    position: absolute;
}

.cl14 {
    width: 24px; 
    height: 24px; 
    left: 13px; 
    top: 14px; 
    position: absolute;
}

.cl15 {
    width: 153px; height: 51px; left: 1084px; top: 0px; position: absolute;
}

.cl16 {
    left: 55px; top: 14px; position: absolute; color: #242424; font-size: 18px; font-family: Muli; font-weight: 600; line-height: 24px; letter-spacing: 0.69px; word-wrap: break-word;
}

.cl17 {
    width: 50px; height: 51px; left: 0px; top: 0px; position: absolute;
}

.cl18 {
    width: 50px; height: 51px; left: 0px; top: 0px; position: absolute;
}

.cl19 {
    width: 38px; height: 38px; left: 6px; top: 7px; position: absolute; background: #7A40F2; border-radius: 9999px;
}

.cl20 {
    width: 14px; height: 14px; left: 139px; top: 19px; position: absolute;
}

.cl21 {
    width: 118px; height: 1024px; left: 0px; top: 0px; position: absolute;
}

.cl22 {
    width: 118px; height: 1024px; left: 0px; top: 0px; position: absolute;
}

.cl23 {
    width: 118px; height: 1024px; left: 0px; top: 0px; position: absolute; background: #7A40F2;
}

.cl37 {
    width: 44px; height: 44px; left: 0px; top: 0px; position: absolute;
}

.cl38 {
    width: 44px; height: 44px; left: 0px; top: 0px; position: absolute;
}

.cl39 {
    width: 44px; height: 44px; left: 0px; top: 0px; position: absolute;
}

.cl40 {
    width: 44px; height: 44px; left: 0px; top: 0px; position: absolute;
}

.cl41 {
    width: 40px; height: 40px; left: 5px; top: 6px; position: absolute;
}

.cl42 {
    width: 40px; height: 40px; left: 5px; top: 6px; position: absolute;
}

.cl43 {
    width: 40px; height: 40px; left: 5px; top: 6px; position: absolute;
}

.cl44 {
    width: 40px; height: 40px; left: 5px; top: 6px; position: absolute;
}

.cl45 {
    width: 40px; height: 40px; left: 5px; top: 6px; position: absolute;
}

.cl46 {
    width: 743px; height: 229px; left: 47px; top: 0px; position: absolute; border-radius: 38px;
}

.cl47 {
    width: 743px; height: 428px; left: 0px; top: 238px; position: absolute; border-radius: 35px;
}
.cl48 {
    width: 44px; height: 48px; left: 0px; top: 27.28px; position: absolute;
}

.cl49 {
    width: 44px; height: 48px; left: 0px; top: 27.28px; position: absolute;
}

.cl50 {
    width: 44px; height: 48px; left: 0px; top: 24.28px; position: absolute;
}

.cl51 {
    width: 44px; height: 48px; left: 1px; top: 26.28px; position: absolute;
}

.cl52 {
    width: 453px; height: 330px; left: 30px; top: 593px; position: absolute; border-top-left-radius: 35px; border-top-right-radius: 35px;
}

.pir-switch {
    position: relative;
    width: 28px;
    height: 17.58px;
}

.pir-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.pir-label {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 50px;
    width: 28px;
    height: 17.58px;
    top: 50%; /* تغییر اینجا */
    left: 50%; /* تغییر اینجا */
    transform: translate(-50%, -50%); /* تغییر اینجا */
    transition: background-color 0.3s, box-shadow 0.3s;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-left: 95px;
}

.pir-input:checked + .pir-label {
    background-color: #7A40F2;
    box-shadow: 0 0 10px rgba(53, 56, 53, 0.5); /* افزوده شده */
}

.pir-label:before {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 4px;
    transition: left 0.3s;
}

.pir-input:checked + .pir-label:before {
    left: calc(100% - 4px);
}

/* end sensor pir , strike sensor  */

.sensor-switch {
    position: relative;
    width: 28px;
    height: 17.58px;
}

.sensor-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sensor-label {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 50px;
    width: 28px;
    height: 17.58px;
    top: 50%; /* تغییر اینجا */
    left: 50%; /* تغییر اینجا */
    transform: translate(-50%, -50%); /* تغییر اینجا */
    transition: background-color 0.3s, box-shadow 0.3s;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-left: 95px;
}

.sensor-input:checked + .sensor-label {
    background-color: #7A40F2;
    box-shadow: 0 0 10px rgba(53, 56, 53, 0.5); /* افزوده شده */
}

.sensor-label:before {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 4px;
    transition: left 0.3s;
}

.sensor-input:checked + .sensor-label:before {
    left: calc(100% - 4px);
}


/* end sensor strike , temp sensor  */

.temp-switch {
    position: relative;
    width: 28px;
    height: 17.58px;
}

.temp-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.temp-label {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 50px;
    width: 28px;
    height: 17.58px;
    top: 50%; /* تغییر اینجا */
    left: 50%; /* تغییر اینجا */
    transform: translate(-50%, -50%); /* تغییر اینجا */
    transition: background-color 0.3s, box-shadow 0.3s;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-left: 95px;
}

.temp-input:checked + .temp-label {
    background-color: #7A40F2;
    box-shadow: 0 0 10px rgba(53, 56, 53, 0.5); /* افزوده شده */
}

.temp-label:before {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 4px;
    transition: left 0.3s;
}

.temp-input:checked + .temp-label:before {
    left: calc(100% - 4px);
}


/* end sensor temp , lamp  */

.lamp-switch {
    position: relative;
    width: 28px;
    height: 17.58px;
}

.lamp-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.lamp-label {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 50px;
    width: 28px;
    height: 17.58px;
    top: 50%; /* تغییر اینجا */
    left: 50%; /* تغییر اینجا */
    transform: translate(-50%, -50%); /* تغییر اینجا */
    transition: background-color 0.3s, box-shadow 0.3s;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-left: 95px;
}

.lamp-input:checked + .lamp-label {
    background-color: #7A40F2;
    box-shadow: 0 0 10px rgba(53, 56, 53, 0.5); /* افزوده شده */
}

.lamp-label:before {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 4px;
    transition: left 0.3s;
}

.lamp-input:checked + .lamp-label:before {
    left: calc(100% - 4px);
}

.cl53 {
    width: 15px; height: 21px; left: 0px; top: 0px; position: absolute;
}

.cl54 {
    width: 15px; height: 21px; left: -1px; top: 0.11px; position: absolute;
}

.cl55 {
    width: 12px; height: 8px; left: 164px; top: 17px; position: absolute;
}

.cl56 {
    width: 20px; height: 24px; left: 4px; top: 5px; position: absolute; transform: rotate(90deg); margin-left: 5px;
}

.cl57 {
    width: 25px; height: 22px; left: 45px; top: 8px; position: absolute;
}




/* end pir2 , start strike sensor */



/*  */

/*  */


.cl58 {
    width: 25px; height: 21px; left: 85px; top: 8px; position: absolute;
}

.cl59 {
    width: 16px; height: 16px; left: 14px; top: 9px; position: absolute;
}

.frame {
    width: 163px; height: 149.47px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 25px; border: 1px rgba(230.07, 229.16, 241.80, 0.81) solid;
}

.frame.clicked {
    background-color: #7A40F2; /* رنگ جدید برای وضعیت کلیک شده */
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 5px #6F5CEA(0, 0, 0, 0.2);
}

.frame1.clicked {
    background-color: #7A40F2; /* رنگ جدید برای وضعیت کلیک شده */
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 5px #6F5CEA(0, 0, 0, 0.2);
}

.frame2.clicked {
    background-color: #7A40F2; /* رنگ جدید برای وضعیت کلیک شده */
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 5px #6F5CEA(0, 0, 0, 0.2);
}

.frame3.clicked {
    background-color: #7A40F2; /* رنگ جدید برای وضعیت کلیک شده */
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 5px #6F5CEA(0, 0, 0, 0.2);
}

.frame4.clicked {
    background-color: #7A40F2; /* رنگ جدید برای وضعیت کلیک شده */
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 5px #6F5CEA(0, 0, 0, 0.2);
}

.tr {
    width: 92px; left: 14px; top: 79px; position: absolute; color: #9897AD; font-size: 14px; font-family: Muli; font-weight: 700; line-height: 18px; letter-spacing: 0.14px; word-wrap: break-word;
}




.status-text {
    width: 25px;
    left: 0px;
    top: 1px;
    position: absolute;
    color: #242424;
    font-size: 12px;
    font-family: Muli;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.12px;
    word-wrap: break-word;
}



.nr2 {
    width: 35px; height: 1024px; position: absolute; background: #7A40F2; border-top-left-radius: 25px; border-bottom-left-radius: 25px;
}

.nr3 {
    width: 22.87px; height: 25.58px; position: absolute; right: 130px; bottom: 55px;
}

.nr4 {
    width: 86px; height: 88px; left: 34px; position: absolute; background: #7A40F2; border-bottom-right-radius: 25px; border-top-right-radius: 25px
}

.nr5 {
    width: 83px; height: 881px; left: 34px; top: 144px; position: absolute; background: #7A40F2; border-top-right-radius: 25px; border-bottom-right-radius: 25px
}

.nr6 {
    width: 83px; height: 59px; left: 19px; top: 87px; position: absolute; background: white; border-top-left-radius: 25px; border-bottom-left-radius: 25px
}

.nr7 {
    width: 45.74px; height: 41.95px; left: 154px; top: 121px; position: absolute
}

.nr8 {
    width: 45.74px; height: 40.92px; left: 0px; top: 0px; position: absolute
}

.nr9 {
    width: 30.19px; height: 35.81px; position: absolute; right: 125px; bottom: 28px;
}

.nr10 {
    width: 46.65px; height: 420.27px; left: 30px; top: 250px; position: absolute
}

.nr11 {
    width: 46.65px; height: 53.64px; left: 0px; top: 297.06px; position: absolute
}

.nr12 {
    width: 46.65px; height: 53.64px; left: 0px; top: 25px; position: absolute
}

.nr13 {
    width: 22.87px; height: 21.48px; left: 11.89px; top: 32px; position: absolute
}

.nr14 {
    width: 46.65px; height: 53.64px; left: 0px; top: 366.62px; position: absolute
}

.nr15 {
    width: 46.65px; height: 53.64px; left: 0px; top: 0px; position: absolute
}

.nr16 {
    width: 22.87px; height: 28.65px; left: 13px; top: 70px; position: absolute
}

.nr17 {
    width: 46.65px; height: 53.64px; left: 0px; top: 80.77px; position: absolute
}

.nr18 {
    width: 46.65px; height: 53.64px; left: 0px; top: 25px; position: absolute
}

.nr19 {
    width: 21.04px; height: 25.58px; left: 12.81px; top: 25px; position: absolute
}

.nr20 {
    width: 46.65px; height: 53.64px; left: 0px; top: 177.49px; position: absolute
}

.nr21 {
    width: 46.65px; height: 53.64px; left: 0px; top: 25px; position: absolute
}

.nr22 {
    width: 20.12px; height: 27.62px; left: 12.81px; top: 32px; position: absolute
}

.nr23 {
    width: 21.95px; height: 23.53px; left: 12.81px; top: 0px; position: absolute
}

.nr24 {
    width: 46.65px; height: 53.64px; left: 150.67px; top: 977.94px; position: absolute
}

.nr25 {
    width: 46.65px; height: 53.64px; left: 0px; top: 0px; position: absolute
}

.qw1 {
    width: 1440px; height: 1024px; position: relative; background: white
}

.qw2 {
    width: 35px; height: 1024px; left: 0px; top: 0px; position: absolute; background: #7A40F2; border-top-left-radius: 25px; border-bottom-left-radius: 25px
}

.qw3 {
    width: 84px; height: 334px; left: 35px; top: 0px; position: absolute; background: #7A40F2; border-top-right-radius: 25px; border-bottom-right-radius: 25px
}

.qw4 {
    width: 80px; height: 628px; left: 35px; top: 396px; position: absolute; background: #7A40F2; border-top-right-radius: 25px; border-bottom-right-radius: 25px
}

.qw5 {
    width: 81px; height: 62px; left: 18px; top: 334px; position: absolute; background: white; border-top-left-radius: 25px; border-bottom-left-radius: 25px
}

.qw6 {
    width: 44.74px; height: 42.18px; left: 32.21px; top: 98.18px; position: absolute
}

.qw7 {
    width: 44.74px; height: 41.15px; left: 0px; top: 0px; position: absolute
}

.qw8 {
    width: 29.53px; height: 36.01px; left: 6.26px; top: 6.17px; position: absolute
}

.qw9 {
    width: 45.63px; height: 493px; left: 34.89px; top: 222.61px; position: absolute
}

.qw10 {
    width: 45.63px; height: 53.94px; left: 0px; top: 343.96px; position: absolute
}

.qw11 {
    width: 45.63px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.qw12 {
    width: 22.37px; height: 21.60px; left: 11.63px; top: 18.60px; position: absolute
}

.qw13 {
    width: 45.63px; height: 53.94px; left: 0px; top: 439.05px; position: absolute
}

.qw14 {
    width: 45.63px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.qw15 {
    width: 22.37px; height: 28.81px; left: 11.63px; top: 13.01px; position: absolute
}

.qw16 {
    width: 45.63px; height: 53.94px; left: 0px; top: 115.30px; position: absolute
}

.qw17 {
    width: 45.63px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.qw18 {
    width: 20.58px; height: 25.72px; left: 12.53px; top: 13.45px; position: absolute
}

.qw19 {
    width: 45.63px; height: 53.94px; left: 0px; top: 248.87px; position: absolute
}

.qw20 {
    width: 45.63px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.qw21 {
    width: 19.68px; height: 27.78px; left: 12.53px; top: 7.73px; position: absolute
}

.qw22 {
    width: 21.47px; height: 23.66px; left: 8.95px; top: 0px; position: absolute
}

.qw23 {
    width: 45.63px; height: 53.94px; left: 34.89px; top: 953.22px; position: absolute
}

.qw24 {
    width: 45.63px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.qw25 {
    width: 22.37px; height: 25.72px; left: 10.74px; top: 13.21px; position: absolute
}

.q1 {
    width: 35px; height: 1024px; left: 0px; top: 0px; position: absolute; background: #7A40F2; border-top-left-radius: 25px; border-bottom-left-radius: 25px
}

.q2 {
    width: 83px; height: 460px; left: 35px; top: 0px; position: absolute; background: #7A40F2; border-top-right-radius: 25px; border-bottom-right-radius: 25px
}

.q3 {
    width: 79px; height: 499px; left: 35px; top: 525px; position: absolute; background: #7A40F2; border-top-right-radius: 25px; border-bottom-right-radius: 25px
}

.q5 {
    width: 79px; height: 65px; left: 18px; top: 460px; position: absolute; background: white; border-top-left-radius: 25px; border-bottom-left-radius: 25px
}

.q6 {
    width: 44.36px; height: 42.18px; left: 36px; top: 98px; position: absolute
}

.q7 {
    width: 44.36px; height: 41.15px; left: 0px; top: 0px; position: absolute
}

.q8 {
    width: 29.28px; height: 36.01px; left: 6.21px; top: 6.17px; position: absolute
}

.q9 {
    width: 45.25px; height: 520.05px; left: 34.60px; top: 216.90px; position: absolute
}

.q10 {
    width: 45.25px; height: 53.94px; left: 0px; top: 371.01px; position: absolute
}

.q11 {
    width: 45.25px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.q12 {
    width: 22.18px; height: 21.60px; left: 11.53px; top: 18.60px; position: absolute
}

.q13 {
    width: 45.25px; height: 53.94px; left: 0px; top: 466.11px; position: absolute
}

.q14 {
    width: 45.25px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.q15 {
    width: 22.18px; height: 28.81px; left: 11.53px; top: 13.01px; position: absolute
}

.q16 {
    width: 45.25px; height: 53.94px; left: 0px; top: 123.33px; position: absolute
}

.q17 {
    width: 45.25px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.q18 {
    width: 20.41px; height: 25.72px; left: 12.42px; top: 13.45px; position: absolute
}

.q19 {
    width: 45.25px; height: 53.94px; left: 0px; top: 254.57px; position: absolute
}

.q20 {
    width: 45.25px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.q21 {
    width: 19.52px; height: 27.78px; left: 12.42px; top: 7.73px; position: absolute
}

.q22 {
    width: 21.29px; height: 23.66px; left: 12.42px; top: 0px; position: absolute
}

.q23 {
    width: 45.25px; height: 53.94px; left: 34.60px; top: 947.51px; position: absolute
}

.q24 {
    width: 45.25px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.q25 {
    width: 22.18px; height: 25.72px; left: 10.65px; top: 13.21px; position: absolute
}

.w1 {
    width: 34px; height: 1024px; left: 0px; top: 0px; position: absolute; background: #7A40F2; border-top-left-radius: 25px; border-bottom-left-radius: 25px
}

.w2 {
    width: 84px; height: 548px; left: 34px; top: 0px; position: absolute; background: #7A40F2; border-top-right-radius: 25px; border-bottom-right-radius: 25px
}

.w3 {
    width: 80px; height: 411px; left: 34px; top: 613px; position: absolute; background: #7A40F2; border-top-right-radius: 25px; border-bottom-right-radius: 25px
}

.w4 {
    width: 80px; height: 65px; left: 18px; top: 548px; position: absolute; background: white; border-top-left-radius: 25px; border-bottom-left-radius: 25px
}

.w5 {
    width: 44.36px; height: 42.18px; left: 37px; top: 101px; position: absolute
}

.w6 {
    width: 44.36px; height: 41.15px; left: 0px; top: 0px; position: absolute
}

.w7 {
    width: 29.28px; height: 36.01px; left: 6.21px; top: 6.17px; position: absolute
}

.w8 {
    width: 46.14px; height: 514px; left: 34.60px; top: 222.61px; position: absolute
}

.w9 {
    width: 45.25px; height: 53.94px; left: 0px; top: 331.06px; position: absolute
}

.w10 {
    width: 45.25px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.w11 {
    width: 22.18px; height: 21.60px; left: 11.53px; top: 18.60px; position: absolute
}

.w12 {
    width: 45.25px; height: 53.94px; left: 0px; top: 460.06px; position: absolute
}

.w13 {
    width: 45.25px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.w14 {
    width: 22.18px; height: 28.81px; left: 11.53px; top: 13.01px; position: absolute
}

.w15 {
    width: 45.25px; height: 53.94px; left: 0px; top: 95.89px; position: absolute
}

.w16 {
    width: 45.25px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.w17 {
    width: 20.41px; height: 25.72px; left: 12.42px; top: 13.45px; position: absolute
}

.w18 {
    width: 45.25px; height: 53.94px; left: 0.89px; top: 200.92px; position: absolute
}

.w19 {
    width: 45.25px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.w20 {
    width: 19.52px; height: 27.78px; left: 12.42px; top: 7.73px; position: absolute
}

.w21 {
    width: 21.29px; height: 23.66px; left: 12.42px; top: 0px; position: absolute
}

.w22 {
    width: 45.25px; height: 53.94px; left: 34.60px; top: 956.65px; position: absolute
}

.w23 {
    width: 45.25px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.w24 {
    width: 22.18px; height: 25.72px; left: 10.65px; top: 13.21px; position: absolute
}

.se1 {
    width: 35px; height: 1024px; left: 0px; top: 0px; position: absolute; background: #7A40F2; border-top-left-radius: 25px; border-bottom-left-radius: 25px
}

.se2 {
    width: 83px; height: 663px; left: 35px; top: 0px; position: absolute; background: #7A40F2; border-top-right-radius: 25px; border-bottom-right-radius: 25px
}

.se3 {
    width: 79px; height: 298px; left: 35px; top: 726px; position: absolute; background: #7A40F2; border-top-right-radius: 25px; border-bottom-right-radius: 25px
}

.se4 {
    width: 80px; height: 65px; left: 18px; top: 663px; position: absolute; background: white; border-top-left-radius: 25px; border-bottom-left-radius: 25px
}

.se5 {
    width: 44.36px; height: 42.18px; left: 36.38px; top: 61.65px; position: absolute
}

.se6 {
    width: 44.36px; height: 41.15px; left: 0px; top: 0px; position: absolute
}

.se7 {
    width: 29.28px; height: 36.01px; left: 6.21px; top: 6.17px; position: absolute
}

.se8 {
    width: 45.25px; height: 524.28px; left: 34.60px; top: 198.64px; position: absolute
}

.se9 {
    width: 45.25px; height: 53.94px; left: 0px; top: 341.33px; position: absolute
}

.se10 {
    width: 45.25px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.se11 {
    width: 22.18px; height: 21.60px; left: 11.53px; top: 18.60px; position: absolute
}

.se12 {
    width: 45.25px; height: 53.94px; left: 0px; top: 470.33px; position: absolute
}

.se13 {
    width: 45.25px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.se14 {
    width: 22.18px; height: 28.81px; left: 11.53px; top: 13.01px; position: absolute
}

.se15 {
    width: 45.25px; height: 53.94px; left: 0px; top: 106.17px; position: absolute
}

.se16 {
    width: 45.25px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.se17 {
    width: 20.41px; height: 25.72px; left: 12.42px; top: 13.45px; position: absolute
}

.se18 {
    width: 45.25px; height: 53.94px; left: 0px; top: 213.48px; position: absolute
}

.se19 {
    width: 45.25px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.se20 {
    width: 19.52px; height: 27.78px; left: 12.42px; top: 7.73px; position: absolute
}

.se21 {
    width: 21.29px; height: 23.66px; left: 12.42px; top: 0px; position: absolute
}

.se22 {
    width: 45.25px; height: 53.94px; left: 34.60px; top: 956.65px; position: absolute
}

.se23 {
    width: 45.25px; height: 53.94px; left: 0px; top: 0px; position: absolute
}

.se24 {
    width: 22.18px; height: 25.72px; left: 10.65px; top: 13.21px; position: absolute
}


.frameleft {
    position: relative;
}

.frameleft:not(#fr1) {
    display: none;
}

.search-box {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}



.whb-general-header:before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: -335px;
    left: -320px;
    height: 6px;
    background-color: #a2a2a2;
    background-image: linear-gradient(to right, #ffffff 0%, #ffffff 25%, #6a4fa0 33%, #16a2bd 42%, #89c736 52%, #fcc43f 61%, #d02054 69%, #ffffff 75%, #ffffff 100%);
    border-radius: 100%;
}

.whb-general-header:after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -335px;
    left: -320px;
    height: 9px;
    background-color: #a2a2a2;
    background-image: linear-gradient(to right, #ffffff 0%, #ffffff 25%, #6a4fa0 33%, #16a2bd 42%, #89c736 52%, #fcc43f 61%, #d02054 69%, #ffffff 75%, #ffffff 100%);
    border-radius: 100%;
    filter: blur(12px);
    opacity: 0.5;
}