<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rectangles Example</title>
    <!-- <link rel="stylesheet" href="/static/css/stylesheet.css"> -->
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/AccountStyleSheet.css')}}"> -->
</head>
<body>
  <div class="frameleft">
    <button type="button" class="btn" onclick="window.location.href ='/sigin'">Login</button>
  </div>
  <div class="frameleft">
    <button type="button" class="btn" onclick="window.location.href ='/singup'">Register</button>
  </div>

  <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>




