<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rectangles Example</title>
    <!-- <link rel="stylesheet" href="/static/css/stylesheet.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/AccountStyleSheet.css')}}">
</head>
<body>
  <div class="Frame40" style="width: 1440px; height: 1024px; position: relative; background: white">
    <div class="Rectangle23" style="width: 35px; height: 1024px; left: 0px; top: 0px; position: absolute; background: #7A40F2; border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
    <div class="Frame2" style="width: 84px; height: 334px; left: 35px; top: 0px; position: absolute; background: #7A40F2; border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
    <div class="Frame6" style="width: 80px; height: 628px; left: 35px; top: 396px; position: absolute; background: #7A40F2; border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
    <div class="Frame5" style="width: 81px; height: 62px; left: 18px; top: 334px; position: absolute; background: white; border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
    <div class="NounHome1998078" style="width: 44.74px; height: 42.18px; left: 32.21px; top: 98.18px; position: absolute">
      <div class="Rectangle" style="width: 44.74px; height: 41.15px; left: 0px; top: 0px; position: absolute"></div>
      <img class="Rectangle" style="width: 29.53px; height: 36.01px; left: 6.26px; top: 6.17px; position: absolute" src="https://via.placeholder.com/30x36" />
    </div>
    <div class="Group31" style="width: 45.63px; height: 493px; left: 34.89px; top: 222.61px; position: absolute">
      <div class="Group30Copy9" style="width: 45.63px; height: 53.94px; left: 0px; top: 343.96px; position: absolute">
        <div class="Rectangle" style="width: 45.63px; height: 53.94px; left: 0px; top: 0px; position: absolute"></div>
        <img class="Rectangle" style="width: 22.37px; height: 21.60px; left: 11.63px; top: 18.60px; position: absolute" src="https://via.placeholder.com/22x22" />
      </div>
      <div class="Group30Copy10" style="width: 45.63px; height: 53.94px; left: 0px; top: 439.05px; position: absolute">
        <div class="Rectangle" style="width: 45.63px; height: 53.94px; left: 0px; top: 0px; position: absolute"></div>
        <img class="Rectangle" style="width: 22.37px; height: 28.81px; left: 11.63px; top: 13.01px; position: absolute" src="https://via.placeholder.com/22x29" />
      </div>
      <div class="Group30Copy6" style="width: 45.63px; height: 53.94px; left: 0px; top: 115.30px; position: absolute">
        <div class="Rectangle" style="width: 45.63px; height: 53.94px; left: 0px; top: 0px; position: absolute"></div>
        <img class="Rectangle" style="width: 20.58px; height: 25.72px; left: 12.53px; top: 13.45px; position: absolute" src="https://via.placeholder.com/21x26" />
      </div>
      <div class="Group30Copy8" style="width: 45.63px; height: 53.94px; left: 0px; top: 248.87px; position: absolute">
        <div class="Rectangle" style="width: 45.63px; height: 53.94px; left: 0px; top: 0px; position: absolute"></div>
        <img class="Rectangle" style="width: 19.68px; height: 27.78px; left: 12.53px; top: 7.73px; position: absolute" src="https://via.placeholder.com/20x28" />
      </div>
      <img class="Rectangle6" style="width: 21.47px; height: 23.66px; left: 8.95px; top: 0px; position: absolute" src="https://via.placeholder.com/21x24" />
    </div>
    <div class="Group30Copy6" style="width: 45.63px; height: 53.94px; left: 34.89px; top: 953.22px; position: absolute">
      <div class="Rectangle" style="width: 45.63px; height: 53.94px; left: 0px; top: 0px; position: absolute"></div>
      <img class="Rectangle" style="width: 22.37px; height: 25.72px; left: 10.74px; top: 13.21px; position: absolute" src="https://via.placeholder.com/22x26" />
    </div>
    <div class="Frame1" style="height: 100px; padding-top: 25px; padding-bottom: 24px; padding-left: 153px; padding-right: 50px; left: 0px; top: 0px; position: absolute; justify-content: flex-end; align-items: center; display: inline-flex">
      <div class="Group62" style="width: 1237px; height: 51px; position: relative">
        <div class="Group4" style="width: 542px; height: 50px; left: 0px; top: 1px; position: absolute">
          <div class="Rectangle" style="width: 542px; height: 50px; left: 0px; top: 0px; position: absolute; background: #EDEEF4; border-radius: 15px"></div>
          <div class="Search" style="left: 52px; top: 17px; position: absolute; color: #ACAFB5; font-size: 14px; font-family: Mulish; font-weight: 600; line-height: 17px; letter-spacing: 0.14px; word-wrap: break-word">Search</div>
          <img class="Rectangle4" style="width: 14px; height: 14px; left: 23px; top: 18px; position: absolute" src="https://via.placeholder.com/14x14" />
        </div>
        <div class="Group" style="width: 50px; height: 51px; left: 1022px; top: 0px; position: absolute">
          <div class="Rectangle4" style="width: 50px; height: 51px; left: 0px; top: 0px; position: absolute"></div>
          <img class="Rectangle4" style="width: 22px; height: 24px; left: 14px; top: 13px; position: absolute" src="https://via.placeholder.com/22x24" />
          <div class="Oval" style="width: 6.26px; height: 6.26px; left: 28.17px; top: 16.33px; position: absolute; background: #7A40F2; border-radius: 9999px; border: 1.08px white solid"></div>
        </div>
        <div class="Settings" style="width: 50px; height: 51px; left: 962px; top: 0px; position: absolute">
          <div class="Rectangle4" style="width: 50px; height: 51px; left: 0px; top: 0px; position: absolute"></div>
          <img class="Rectangle4" style="width: 24px; height: 24px; left: 13px; top: 14px; position: absolute" src="https://via.placeholder.com/24x24" />
        </div>
        <div class="Group3" style="width: 153px; height: 51px; left: 1084px; top: 0px; position: absolute">
          <div class="Scarlett" style="left: 55px; top: 14px; position: absolute; color: #242424; font-size: 18px; font-family: Mulish; font-weight: 600; line-height: 24px; letter-spacing: 0.69px; word-wrap: break-word">Scarlett</div>
          <div class="Group" style="width: 50px; height: 51px; left: 0px; top: 0px; position: absolute">
            <div class="Rectangle4" style="width: 50px; height: 51px; left: 0px; top: 0px; position: absolute"></div>
            <div class="Mask" style="width: 38px; height: 38px; left: 6px; top: 7px; position: absolute; background: #7A40F2; border-radius: 9999px"></div>
          </div>
          <img class="Rectangle5" style="width: 14px; height: 14px; left: 139px; top: 19px; position: absolute" src="https://via.placeholder.com/14x14" />
        </div>
      </div>
    </div>
    <div class="Frame74" style="width: 1321px; height: 920px; left: 119px; top: 104px; position: absolute">
      <div class="Frame47" style="width: 1321px; height: 85px; padding-bottom: 1px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div class="Frame75" style="flex: 1 1 0; align-self: stretch; padding-top: 26px; flex-direction: column; justify-content: flex-end; align-items: center; display: inline-flex">
          <div class="SegmentedControlRoom" style="width: 727px; height: 32px; padding: 2px; background: #DEE2E7; box-shadow: 0px 0px 10px 1px rgba(65, 69, 93, 0.10) inset; border-radius: 10px; overflow: hidden; border: 1.07px white solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div class="SegmentedControl" style="width: 287px; height: 28px; padding-left: 8px; padding-right: 8px; padding-top: 6px; padding-bottom: 6px; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04); border-radius: 6.93px; border: 0.50px rgba(0, 0, 0, 0.05) solid; justify-content: center; align-items: center; display: flex">
              <div class="All" style="width: 271px; height: 16px; text-align: center; color: black; font-size: 13px; font-family: SF Pro Text; font-weight: 400; line-height: 20px; word-wrap: break-word">All</div>
            </div>
            <div class="SegmentedControl" style="width: 184px; height: 28px; padding-left: 8px; padding-right: 8px; padding-top: 6px; padding-bottom: 6px; background: white; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04); border-radius: 6.93px; border: 0.50px rgba(0, 0, 0, 0.05) solid; justify-content: center; align-items: center; display: flex">
              <div class="Label" style="width: 168px; height: 16px; text-align: center; color: black; font-size: 13px; font-family: SF Pro Text; font-weight: 400; line-height: 20px; word-wrap: break-word">Room</div>
            </div>
            <div class="SegmentedControl" style="width: 254px; height: 28px; padding-left: 8px; padding-right: 8px; padding-top: 6px; padding-bottom: 6px; justify-content: center; align-items: center; display: flex">
              <div class="Label" style="width: 238px; height: 16px; text-align: center; color: rgba(0, 0, 0, 0.41); font-size: 13px; font-family: SF Pro Text; font-weight: 500; line-height: 20px; word-wrap: break-word">Devices</div>
            </div>
          </div>
          <div class="Frame3731" style="width: 1321px; height: 26px; position: relative"></div>
        </div>
      </div>
      <div class="Frame3694" style="width: 1321px; height: 50px; left: 0px; top: 84px; position: absolute"></div>
      <div class="Frame3695" style="width: 1321px; height: 200px; left: 0px; top: 134px; position: absolute">
        <div class="Component6" style="left: 12px; top: 4px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Component6" style="flex: 1 1 0; height: 82.50px; padding: 12px; background: white; border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
            <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div class="Frame1" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                <img class="Bulb" style="width: 32px; height: 32px; position: relative; border-radius: 10px" src="https://via.placeholder.com/32x32" />
                <div class="Frame3690" style="flex: 1 1 0; height: 16px; padding-left: 4px; padding-right: 4px"></div>
                <div class="Frame3692" style="align-self: stretch; padding: 2px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
                  <div class="Component2" style="width: 48px; height: 25.53px; position: relative; transform: rotate(180deg); transform-origin: 0 0">
                    <div class="Rectangle10" style="width: 48px; height: 26px; left: 0px; top: -0.47px; position: absolute; background: linear-gradient(180deg, #5A8FDE 0%, #2D78D1 100%); border-radius: 25px"></div>
                    <div class="R1" style="width: 22px; height: 22px; left: 24px; top: 1.53px; position: absolute; background: linear-gradient(180deg, white 0%, #DDE2FB 100%); border-radius: 25px"></div>
                  </div>
                </div>
              </div>
              <div class="Frame3693" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex">
                <div class="RoomLight" style="flex: 1 1 0; color: #5A8FDE; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Room Light</div>
                <div class="Off" style="color: #5A8FDE; font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">Off</div>
              </div>
            </div>
          </div>
        </div>
        <div class="Component6" style="left: 236px; top: 4px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Component6" style="flex: 1 1 0; height: 82.50px; padding: 12px; background: white; border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
            <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div class="Frame1" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                <img class="Bulb" style="width: 32px; height: 32px; position: relative; border-radius: 10px" src="https://via.placeholder.com/32x32" />
                <div class="Frame3690" style="flex: 1 1 0; height: 16px; padding-left: 4px; padding-right: 4px"></div>
                <div class="Frame3692" style="align-self: stretch; padding: 2px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
                  <div class="Component2" style="width: 48px; height: 25.53px; position: relative; transform: rotate(180deg); transform-origin: 0 0">
                    <div class="Rectangle10" style="width: 48px; height: 26px; left: 0px; top: -0.47px; position: absolute; background: linear-gradient(180deg, #5A8FDE 0%, #2D78D1 100%); border-radius: 25px"></div>
                    <div class="R1" style="width: 22px; height: 22px; left: 24px; top: 1.53px; position: absolute; background: linear-gradient(180deg, white 0%, #DDE2FB 100%); border-radius: 25px"></div>
                  </div>
                </div>
              </div>
              <div class="Frame3693" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex">
                <div class="RoomLight" style="flex: 1 1 0; color: #5A8FDE; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Room Light</div>
                <div class="Off" style="color: #5A8FDE; font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">Off</div>
              </div>
            </div>
          </div>
        </div>
        <div class="Component6" style="left: 236px; top: 110px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Component6" style="flex: 1 1 0; height: 82.50px; padding: 12px; background: white; border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
            <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div class="Frame1" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                <img class="Bulb" style="width: 32px; height: 32px; position: relative; border-radius: 10px" src="https://via.placeholder.com/32x32" />
                <div class="Frame3690" style="flex: 1 1 0; height: 16px; padding-left: 4px; padding-right: 4px"></div>
                <div class="Frame3692" style="align-self: stretch; padding: 2px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
                  <div class="Component2" style="width: 48px; height: 25.53px; position: relative; transform: rotate(180deg); transform-origin: 0 0">
                    <div class="Rectangle10" style="width: 48px; height: 26px; left: 0px; top: -0.47px; position: absolute; background: linear-gradient(180deg, #5A8FDE 0%, #2D78D1 100%); border-radius: 25px"></div>
                    <div class="R1" style="width: 22px; height: 22px; left: 24px; top: 1.53px; position: absolute; background: linear-gradient(180deg, white 0%, #DDE2FB 100%); border-radius: 25px"></div>
                  </div>
                </div>
              </div>
              <div class="Frame3693" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex">
                <div class="RoomLight" style="flex: 1 1 0; color: #5A8FDE; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Room Light</div>
                <div class="Off" style="color: #5A8FDE; font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">Off</div>
              </div>
            </div>
          </div>
        </div>
        <div class="Component6" style="left: 12px; top: 110px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Component6" style="flex: 1 1 0; height: 82.50px; padding: 12px; background: white; border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
            <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div class="Frame1" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                <img class="Bulb" style="width: 32px; height: 32px; position: relative; border-radius: 10px" src="https://via.placeholder.com/32x32" />
                <div class="Frame3690" style="flex: 1 1 0; height: 16px; padding-left: 4px; padding-right: 4px"></div>
                <div class="Frame3692" style="align-self: stretch; padding: 2px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
                  <div class="Component2" style="width: 48px; height: 25.53px; position: relative; transform: rotate(180deg); transform-origin: 0 0">
                    <div class="Rectangle10" style="width: 48px; height: 26px; left: 0px; top: -0.47px; position: absolute; background: linear-gradient(180deg, #5A8FDE 0%, #2D78D1 100%); border-radius: 25px"></div>
                    <div class="R1" style="width: 22px; height: 22px; left: 24px; top: 1.53px; position: absolute; background: linear-gradient(180deg, white 0%, #DDE2FB 100%); border-radius: 25px"></div>
                  </div>
                </div>
              </div>
              <div class="Frame3693" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex">
                <div class="RoomLight" style="flex: 1 1 0; color: #5A8FDE; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Room Light</div>
                <div class="Off" style="color: #5A8FDE; font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">Off</div>
              </div>
            </div>
          </div>
        </div>
        <div class="Component6" style="left: 450px; top: 4px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Component6" style="flex: 1 1 0; height: 82.50px; padding: 12px; background: white; border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
            <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div class="Frame1" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                <img class="Bulb" style="width: 32px; height: 32px; position: relative; border-radius: 10px" src="https://via.placeholder.com/32x32" />
                <div class="Frame3690" style="flex: 1 1 0; height: 16px; padding-left: 4px; padding-right: 4px"></div>
                <div class="Frame3692" style="align-self: stretch; padding: 2px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
                  <div class="Component2" style="width: 48px; height: 25.53px; position: relative; transform: rotate(180deg); transform-origin: 0 0">
                    <div class="Rectangle10" style="width: 48px; height: 26px; left: 0px; top: -0.47px; position: absolute; background: linear-gradient(180deg, #5A8FDE 0%, #2D78D1 100%); border-radius: 25px"></div>
                    <div class="R1" style="width: 22px; height: 22px; left: 24px; top: 1.53px; position: absolute; background: linear-gradient(180deg, white 0%, #DDE2FB 100%); border-radius: 25px"></div>
                  </div>
                </div>
              </div>
              <div class="Frame3693" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex">
                <div class="RoomLight" style="flex: 1 1 0; color: #5A8FDE; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Room Light</div>
                <div class="Off" style="color: #5A8FDE; font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">Off</div>
              </div>
            </div>
          </div>
        </div>
        <div class="Component6" style="left: 460px; top: 110px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Component6" style="flex: 1 1 0; height: 82.50px; padding: 12px; background: white; border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
            <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div class="Frame1" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                <img class="Bulb" style="width: 32px; height: 32px; position: relative; border-radius: 10px" src="https://via.placeholder.com/32x32" />
                <div class="Frame3690" style="flex: 1 1 0; height: 16px; padding-left: 4px; padding-right: 4px"></div>
                <div class="Frame3692" style="align-self: stretch; padding: 2px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
                  <div class="Component2" style="width: 48px; height: 25.53px; position: relative; transform: rotate(180deg); transform-origin: 0 0">
                    <div class="Rectangle10" style="width: 48px; height: 26px; left: 0px; top: -0.47px; position: absolute; background: linear-gradient(180deg, #5A8FDE 0%, #2D78D1 100%); border-radius: 25px"></div>
                    <div class="R1" style="width: 22px; height: 22px; left: 24px; top: 1.53px; position: absolute; background: linear-gradient(180deg, white 0%, #DDE2FB 100%); border-radius: 25px"></div>
                  </div>
                </div>
              </div>
              <div class="Frame3693" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex">
                <div class="RoomLight" style="flex: 1 1 0; color: #5A8FDE; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Room Light</div>
                <div class="Off" style="color: #5A8FDE; font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">Off</div>
              </div>
            </div>
          </div>
        </div>
        <div class="Component6" style="left: 682px; top: 7px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Component6" style="flex: 1 1 0; height: 82.50px; padding: 12px; background: white; border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
            <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div class="Frame1" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                <img class="Bulb" style="width: 32px; height: 32px; position: relative; border-radius: 10px" src="https://via.placeholder.com/32x32" />
                <div class="Frame3690" style="flex: 1 1 0; height: 16px; padding-left: 4px; padding-right: 4px"></div>
                <div class="Frame3692" style="align-self: stretch; padding: 2px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
                  <div class="Component2" style="width: 48px; height: 25.53px; position: relative; transform: rotate(180deg); transform-origin: 0 0">
                    <div class="Rectangle10" style="width: 48px; height: 26px; left: 0px; top: -0.47px; position: absolute; background: linear-gradient(180deg, #5A8FDE 0%, #2D78D1 100%); border-radius: 25px"></div>
                    <div class="R1" style="width: 22px; height: 22px; left: 24px; top: 1.53px; position: absolute; background: linear-gradient(180deg, white 0%, #DDE2FB 100%); border-radius: 25px"></div>
                  </div>
                </div>
              </div>
              <div class="Frame3693" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex">
                <div class="RoomLight" style="flex: 1 1 0; color: #5A8FDE; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Room Light</div>
                <div class="Off" style="color: #5A8FDE; font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">Off</div>
              </div>
            </div>
          </div>
        </div>
        <div class="Component6" style="left: 694px; top: 110px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Component6" style="flex: 1 1 0; height: 82.50px; padding: 12px; background: white; border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
            <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div class="Frame1" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                <img class="Bulb" style="width: 32px; height: 32px; position: relative; border-radius: 10px" src="https://via.placeholder.com/32x32" />
                <div class="Frame3690" style="flex: 1 1 0; height: 16px; padding-left: 4px; padding-right: 4px"></div>
                <div class="Frame3692" style="align-self: stretch; padding: 2px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
                  <div class="Component2" style="width: 48px; height: 25.53px; position: relative; transform: rotate(180deg); transform-origin: 0 0">
                    <div class="Rectangle10" style="width: 48px; height: 26px; left: 0px; top: -0.47px; position: absolute; background: linear-gradient(180deg, #5A8FDE 0%, #2D78D1 100%); border-radius: 25px"></div>
                    <div class="R1" style="width: 22px; height: 22px; left: 24px; top: 1.53px; position: absolute; background: linear-gradient(180deg, white 0%, #DDE2FB 100%); border-radius: 25px"></div>
                  </div>
                </div>
              </div>
              <div class="Frame3693" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex">
                <div class="RoomLight" style="flex: 1 1 0; color: #5A8FDE; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Room Light</div>
                <div class="Off" style="color: #5A8FDE; font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">Off</div>
              </div>
            </div>
          </div>
        </div>
        <div class="Component6" style="left: 902px; top: 7px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Component6" style="flex: 1 1 0; height: 82.50px; padding: 12px; background: white; border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
            <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div class="Frame1" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                <img class="Bulb" style="width: 32px; height: 32px; position: relative; border-radius: 10px" src="https://via.placeholder.com/32x32" />
                <div class="Frame3690" style="flex: 1 1 0; height: 16px; padding-left: 4px; padding-right: 4px"></div>
                <div class="Frame3692" style="align-self: stretch; padding: 2px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
                  <div class="Component2" style="width: 48px; height: 25.53px; position: relative; transform: rotate(180deg); transform-origin: 0 0">
                    <div class="Rectangle10" style="width: 48px; height: 26px; left: 0px; top: -0.47px; position: absolute; background: linear-gradient(180deg, #5A8FDE 0%, #2D78D1 100%); border-radius: 25px"></div>
                    <div class="R1" style="width: 22px; height: 22px; left: 24px; top: 1.53px; position: absolute; background: linear-gradient(180deg, white 0%, #DDE2FB 100%); border-radius: 25px"></div>
                  </div>
                </div>
              </div>
              <div class="Frame3693" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex">
                <div class="RoomLight" style="flex: 1 1 0; color: #5A8FDE; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Room Light</div>
                <div class="Off" style="color: #5A8FDE; font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">Off</div>
              </div>
            </div>
          </div>
        </div>
        <div class="Component6" style="left: 902px; top: 108px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Component6" style="flex: 1 1 0; height: 82.50px; padding: 12px; background: white; border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
            <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div class="Frame1" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                <img class="Bulb" style="width: 32px; height: 32px; position: relative; border-radius: 10px" src="https://via.placeholder.com/32x32" />
                <div class="Frame3690" style="flex: 1 1 0; height: 16px; padding-left: 4px; padding-right: 4px"></div>
                <div class="Frame3692" style="align-self: stretch; padding: 2px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
                  <div class="Component2" style="width: 48px; height: 25.53px; position: relative; transform: rotate(180deg); transform-origin: 0 0">
                    <div class="Rectangle10" style="width: 48px; height: 26px; left: 0px; top: -0.47px; position: absolute; background: linear-gradient(180deg, #5A8FDE 0%, #2D78D1 100%); border-radius: 25px"></div>
                    <div class="R1" style="width: 22px; height: 22px; left: 24px; top: 1.53px; position: absolute; background: linear-gradient(180deg, white 0%, #DDE2FB 100%); border-radius: 25px"></div>
                  </div>
                </div>
              </div>
              <div class="Frame3693" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex">
                <div class="RoomLight" style="flex: 1 1 0; color: #5A8FDE; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Room Light</div>
                <div class="Off" style="color: #5A8FDE; font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">Off</div>
              </div>
            </div>
          </div>
        </div>
        <div class="Component6" style="left: 1128px; top: 7px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Component6" style="flex: 1 1 0; height: 82.50px; padding: 12px; background: white; border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
            <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div class="Frame1" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                <img class="Bulb" style="width: 32px; height: 32px; position: relative; border-radius: 10px" src="https://via.placeholder.com/32x32" />
                <div class="Frame3690" style="flex: 1 1 0; height: 16px; padding-left: 4px; padding-right: 4px"></div>
                <div class="Frame3692" style="align-self: stretch; padding: 2px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
                  <div class="Component2" style="width: 48px; height: 25.53px; position: relative; transform: rotate(180deg); transform-origin: 0 0">
                    <div class="Rectangle10" style="width: 48px; height: 26px; left: 0px; top: -0.47px; position: absolute; background: linear-gradient(180deg, #5A8FDE 0%, #2D78D1 100%); border-radius: 25px"></div>
                    <div class="R1" style="width: 22px; height: 22px; left: 24px; top: 1.53px; position: absolute; background: linear-gradient(180deg, white 0%, #DDE2FB 100%); border-radius: 25px"></div>
                  </div>
                </div>
              </div>
              <div class="Frame3693" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex">
                <div class="RoomLight" style="flex: 1 1 0; color: #5A8FDE; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Room Light</div>
                <div class="Off" style="color: #5A8FDE; font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">Off</div>
              </div>
            </div>
          </div>
        </div>
        <div class="Component6" style="left: 1128px; top: 108px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Component6" style="flex: 1 1 0; height: 82.50px; padding: 12px; background: white; border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
            <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div class="Frame1" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                <img class="Bulb" style="width: 32px; height: 32px; position: relative; border-radius: 10px" src="https://via.placeholder.com/32x32" />
                <div class="Frame3690" style="flex: 1 1 0; height: 16px; padding-left: 4px; padding-right: 4px"></div>
                <div class="Frame3692" style="align-self: stretch; padding: 2px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
                  <div class="Component2" style="width: 48px; height: 25.53px; position: relative; transform: rotate(180deg); transform-origin: 0 0">
                    <div class="Rectangle10" style="width: 48px; height: 26px; left: 0px; top: -0.47px; position: absolute; background: linear-gradient(180deg, #5A8FDE 0%, #2D78D1 100%); border-radius: 25px"></div>
                    <div class="R1" style="width: 22px; height: 22px; left: 24px; top: 1.53px; position: absolute; background: linear-gradient(180deg, white 0%, #DDE2FB 100%); border-radius: 25px"></div>
                  </div>
                </div>
              </div>
              <div class="Frame3693" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex">
                <div class="RoomLight" style="flex: 1 1 0; color: #5A8FDE; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Room Light</div>
                <div class="Off" style="color: #5A8FDE; font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">Off</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Frame3696" style="width: 1321px; height: 50px; left: 0px; top: 334px; position: absolute"></div>
      <div class="Frame3697" style="width: 1321px; padding-top: 15px; padding-bottom: 35.53px; padding-right: 1158px; left: 0px; top: 384px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div class="Group" style="width: 163px; height: 149.47px; position: relative">
          <div class="Rectangle" style="width: 163px; height: 149.47px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 25px; border: 1px rgba(230.07, 229.16, 241.80, 0.81) solid"></div>
          <div class="Group41" style="width: 137px; height: 101.11px; left: 6px; top: 24.18px; position: absolute">
            <div class="Refridgerator" style="width: 92px; left: 14px; top: 79px; position: absolute; color: #7A40F2; font-size: 14px; font-family: Mulish; font-weight: 700; line-height: 18px; letter-spacing: 0.14px; word-wrap: break-word">Tempruater</div>
            <div class="Group40" style="height: 19.78px; left: 14px; top: 0px; position: absolute; justify-content: center; align-items: flex-start; gap: 61px; display: inline-flex">
              <div class="On" style="width: 43px; color: #242424; font-size: 12px; font-family: Mulish; font-weight: 700; line-height: 18px; letter-spacing: 0.12px; word-wrap: break-word">Temp :</div>
              <div style="width: 19px; height: 19px; color: black; font-size: 12px; font-family: Mulish; font-weight: 700; line-height: 18px; letter-spacing: 0.12px; word-wrap: break-word">18</div>
            </div>
            <img class="Rectangle10" style="width: 44px; height: 48px; left: 0px; top: 27.28px; position: absolute" src="https://via.placeholder.com/44x48" />
          </div>
        </div>
      </div>
      <div class="Frame3698" style="width: 1321px; height: 50px; left: 0px; top: 584px; position: absolute"></div>
      <div class="Frame3699" style="width: 1321px; height: 100px; padding-top: 22px; padding-bottom: 22px; padding-right: 955px; left: 0px; top: 634px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div class="Frame23" style="width: 366px; align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 4px; padding-bottom: 4px; background: white; box-shadow: 0px 4px 8px rgba(94, 229, 132, 0.25); border-radius: 18px; border: 0.50px black solid; justify-content: center; align-items: center; gap: 81px; display: inline-flex">
          <div class="InputYourLimitTemp" style="color: #747474; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 48px; letter-spacing: 1.80px; word-wrap: break-word">Input Your Limit Temp :</div>
          <div class="XIcon" style="width: 24px; height: 24px; justify-content: center; align-items: center; display: inline-flex">
            <img class="User" style="width: 24px; height: 24px; position: relative" src="https://via.placeholder.com/24x24" />
          </div>
        </div>
      </div>
    </div>
  </div>



</body>