<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rectangles Example</title>
    <!-- <link rel="stylesheet" href="/static/css/stylesheet.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/AccountStyleSheet.css')}}">
</head>
<body>
    <div class="Frame20" style="width: 1440px; height: 1024px; position: relative; background: white">
        <div class="Frame1" style="height: 100px; padding-top: 25px; padding-bottom: 24px; padding-left: 153px; padding-right: 50px; left: 0px; top: 0px; position: absolute; justify-content: flex-end; align-items: center; display: inline-flex">
          <div class="Group62" style="width: 1237px; height: 51px; position: relative">
            <div class="Group4" style="width: 542px; height: 50px; left: 0px; top: 1px; position: absolute">
              <div class="Rectangle" style="width: 542px; height: 50px; left: 0px; top: 0px; position: absolute; background: #F7F7F7; border-radius: 15px"></div>
              <div class="Search" style="left: 52px; top: 17px; position: absolute; color: #ACAFB5; font-size: 14px; font-family: Mulish; font-weight: 600; line-height: 17px; letter-spacing: 0.14px; word-wrap: break-word">Search</div>
              <img class="Rectangle4" style="width: 14px; height: 14px; left: 23px; top: 18px; position: absolute" src="https://via.placeholder.com/14x14" />
            </div>
            <div class="Group" style="width: 50px; height: 51px; left: 1022px; top: 0px; position: absolute">
              <div class="Rectangle4" style="width: 50px; height: 51px; left: 0px; top: 0px; position: absolute"></div>
              <img class="Rectangle4" style="width: 22px; height: 24px; left: 14px; top: 13px; position: absolute" src="https://via.placeholder.com/22x24" />
              <div class="Oval" style="width: 6.26px; height: 6.26px; left: 28.17px; top: 16.33px; position: absolute; background: #7A40F2; border-radius: 9999px; border: 1.08px white solid"></div>
            </div>
            <div class="Settings" style="width: 50px; height: 51px; left: 962px; top: 0px; position: absolute">
              <div class="Rectangle4" style="width: 50px; height: 51px; left: 0px; top: 0px; position: absolute"></div>
              <img class="Rectangle4" style="width: 24px; height: 24px; left: 13px; top: 14px; position: absolute" src="https://via.placeholder.com/24x24" />
            </div>
            <div class="Group3" style="width: 153px; height: 51px; left: 1084px; top: 0px; position: absolute">
              <div class="Scarlett" style="left: 55px; top: 14px; position: absolute; color: #242424; font-size: 18px; font-family: Mulish; font-weight: 600; line-height: 24px; letter-spacing: 0.69px; word-wrap: break-word">Scarlett</div>
              <div class="Group" style="width: 50px; height: 51px; left: 0px; top: 0px; position: absolute">
                <div class="Rectangle4" style="width: 50px; height: 51px; left: 0px; top: 0px; position: absolute"></div>
                <div class="Mask" style="width: 38px; height: 38px; left: 6px; top: 7px; position: absolute; background: #7A40F2; border-radius: 9999px"></div>
              </div>
              <img class="Rectangle5" style="width: 14px; height: 14px; left: 139px; top: 19px; position: absolute" src="https://via.placeholder.com/14x14" />
            </div>
          </div>
        </div>
        <div class="Rectangle22" style="width: 35px; height: 1024px; left: 0px; top: 0px; position: absolute; background: #7A40F2; border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
        <div class="Frame7" style="width: 86px; height: 88px; left: 30px; top: 0px; position: absolute; background: #7A40F2; border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
        <div class="Frame4" style="width: 83px; height: 881px; left: 35px; top: 143px; position: absolute; background: #7A40F2; border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
        <div class="Frame3" style="width: 83px; height: 59px; left: 18px; top: 86px; position: absolute; background: white; border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
        <div class="NounHome1998078" style="width: 45.74px; height: 41.95px; left: 39px; top: 91px; position: absolute">
          <div class="Rectangle" style="width: 45.74px; height: 40.92px; left: 0px; top: 0px; position: absolute"></div>
          <img class="Rectangle" style="width: 30.19px; height: 35.81px; left: 6.40px; top: 6.14px; position: absolute" src="https://via.placeholder.com/30x36" />
        </div>
        <div class="Group6" style="width: 46.65px; height: 420.27px; left: 35.67px; top: 256.57px; position: absolute">
          <div class="Group30Copy9" style="width: 46.65px; height: 53.64px; left: 0px; top: 272.06px; position: absolute">
            <div class="Rectangle" style="width: 46.65px; height: 53.64px; left: 0px; top: 0px; position: absolute"></div>
            <img class="Rectangle" style="width: 22.87px; height: 21.48px; left: 11.89px; top: 18.50px; position: absolute" src="https://via.placeholder.com/23x21" />
          </div>
          <div class="Group30Copy10" style="width: 46.65px; height: 53.64px; left: 0px; top: 366.62px; position: absolute">
            <div class="Rectangle" style="width: 46.65px; height: 53.64px; left: 0px; top: 0px; position: absolute"></div>
            <img class="Rectangle" style="width: 22.87px; height: 28.65px; left: 11.89px; top: 12.94px; position: absolute" src="https://via.placeholder.com/23x29" />
          </div>
          <div class="Group30Copy6" style="width: 46.65px; height: 53.64px; left: 0px; top: 81.77px; position: absolute">
            <div class="Rectangle" style="width: 46.65px; height: 53.64px; left: 0px; top: 0px; position: absolute"></div>
            <img class="Rectangle" style="width: 21.04px; height: 25.58px; left: 12.81px; top: 13.37px; position: absolute" src="https://via.placeholder.com/21x26" />
          </div>
          <div class="Group30Copy8" style="width: 46.65px; height: 53.64px; left: 0px; top: 177.49px; position: absolute">
            <div class="Rectangle" style="width: 46.65px; height: 53.64px; left: 0px; top: 0px; position: absolute"></div>
            <img class="Rectangle" style="width: 20.12px; height: 27.62px; left: 12.81px; top: 7.69px; position: absolute" src="https://via.placeholder.com/20x28" />
          </div>
          <img class="Rectangle6" style="width: 21.95px; height: 23.53px; left: 12.81px; top: 0px; position: absolute" src="https://via.placeholder.com/22x24" />
        </div>
        <div class="Group30Copy5" style="width: 46.65px; height: 53.64px; left: 35.67px; top: 947.94px; position: absolute">
          <div class="Rectangle" style="width: 46.65px; height: 53.64px; left: 0px; top: 0px; position: absolute"></div>
          <img class="Rectangle" style="width: 22.87px; height: 25.58px; left: 10.98px; top: 13.14px; position: absolute" src="https://via.placeholder.com/23x26" />
        </div>
        <div class="Frame3722" style="width: 1322px; height: 938px; padding: 48px; left: 118px; top: 86px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
          <div class="Frame21" style="width: 800px; align-self: stretch; border: 1px solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
            <div class="Frame3720" style="align-self: stretch; justify-content: flex-end; align-items: center; display: inline-flex">
              <div class="Frame3718" style="padding-left: 16px; padding-right: 16px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                <div class="HiErfanFeiz" style="color: black; font-size: 32px; font-family: Gilroy-Bold; font-weight: 400; word-wrap: break-word">Hi Erfan Feiz.</div>
              </div>
              <div class="Frame3719" style="flex: 1 1 0; height: 19px; padding-left: 16px; padding-right: 16px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                <div class="Sunday21Jan2024" style="flex: 1 1 0; text-align: right; color: #838A8F; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; word-wrap: break-word">Sunday, 21 Jan, 2024</div>
              </div>
            </div>
            <div class="Frame3705" style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
              <div class="WeatherWidget2DaySunny" style="padding: 16px; background: linear-gradient(180deg, #074A8E 0%, #5596D8 100%); border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                <div class="Frame3709" style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                  <div class="Frame3708" style="width: 368px; height: 106px; justify-content: center; align-items: flex-start; gap: 117px; display: inline-flex">
                    <div class="Frame3706" style="width: 145px; height: 106px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                      <div class="Frame3673" style="width: 145px; justify-content: flex-start; align-items: center; display: inline-flex">
                        <div class="City" style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                          <div class="Jan2024" style="color: rgba(255, 255, 255, 0.50); font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">21 Jan, 2024</div>
                          <div class="Karaj" style="color: white; font-size: 32px; font-family: Gilroy-Bold; font-weight: 400; word-wrap: break-word">Karaj</div>
                        </div>
                        <div class="Frame3674" style="height: 48px; flex-direction: column; justify-content: center; align-items: flex-end; display: inline-flex">
                          <div class="H14L2" style="width: 48px; height: 9px; color: rgba(255, 255, 255, 0.50); font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">H:14° L:2°</div>
                          <div class="Location" style="width: 24px; height: 39px; position: relative"></div>
                        </div>
                      </div>
                      <div style="color: white; font-size: 44px; font-family: Gilroy-Bold; font-weight: 400; word-wrap: break-word">9°</div>
                      <div class="Sunny" style="color: #FF8E27; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Sunny</div>
                    </div>
                    <div class="Group237461" style="width: 106px; height: 106px; position: relative">
                      <div class="Icons" style="width: 106px; height: 106px; left: 0px; top: 0px; position: absolute; opacity: 0.50; box-shadow: 18px 18px 18px; filter: blur(18px); justify-content: center; align-items: center; display: inline-flex">
                        <img class="Sun" style="width: 106px; height: 106px" src="https://via.placeholder.com/106x106" />
                      </div>
                      <div class="Icons" style="width: 106px; height: 106px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                        <img class="Sun" style="width: 106px; height: 106px" src="https://via.placeholder.com/106x106" />
                      </div>
                    </div>
                  </div>
                  <div class="Line3" style="align-self: stretch; height: 0px; border: 2px rgba(255, 255, 255, 0.10) solid"></div>
                  <div class="Frame3715" style="justify-content: center; align-items: flex-start; gap: 12px; display: inline-flex">
                    <div class="Frame3713" style="height: 192px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
                      <div class="Frame3711" style="width: 64px; height: 192px; position: relative; border-radius: 10px; border: 2px rgba(255, 255, 255, 0.10) solid">
                        <div class="Frame3711" style="width: 64px; height: 12px; left: 0px; top: 12px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                          <div class="Jan" style="align-self: stretch; text-align: center; color: rgba(255, 255, 255, 0.50); font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">20 Jan</div>
                        </div>
                        <div style="width: 64px; left: 0px; top: 76px; position: absolute; text-align: center; color: white; font-size: 32px; font-family: Gilroy-Bold; font-weight: 400; word-wrap: break-word">9°</div>
                        <div class="Frame3712" style="height: 42px; left: 0px; top: 138px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                          <div class="Sunny" style="width: 24px; height: 24px; justify-content: center; align-items: center; display: inline-flex">
                            <div class="Partlycloudy" style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                              <div class="Group117" style="width: 21px; height: 16.90px; position: relative">
                                <div class="Subtract" style="width: 11.23px; height: 7.96px; left: 0px; top: 0px; position: absolute; background: #FFC227"></div>
                                <div class="Union" style="width: 20.40px; height: 12.91px; left: 0.60px; top: 3.98px; position: absolute; background: #B4E0F8"></div>
                              </div>
                            </div>
                          </div>
                          <div class="Cloud" style="align-self: stretch; text-align: center; color: #B4E0F8; font-size: 12px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Cloud</div>
                        </div>
                      </div>
                    </div>
                    <div class="Frame3711" style="width: 64px; height: 192px; position: relative; background: rgba(255, 255, 255, 0.10); border-radius: 10px">
                      <div class="Frame3711" style="height: 24px; left: 0px; top: 12px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                        <div class="Today" style="align-self: stretch; text-align: center; color: rgba(255, 255, 255, 0.50); font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">Today</div>
                        <div class="Jan" style="align-self: stretch; text-align: center; color: rgba(255, 255, 255, 0.50); font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">21 Jan</div>
                      </div>
                      <div style="width: 64px; left: 0px; top: 76px; position: absolute; text-align: center; color: white; font-size: 32px; font-family: Gilroy-Bold; font-weight: 400; word-wrap: break-word">9°</div>
                      <div class="Frame3712" style="height: 42px; left: 0px; top: 138px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                        <div class="Sunny" style="width: 24px; height: 24px; position: relative">
                          <div class="Group114" style="width: 21px; height: 21px; left: 1.50px; top: 1.50px; position: absolute">
                            <div class="Ellipse17Stroke" style="width: 21px; height: 21px; left: 0px; top: 0px; position: absolute; background: #FFC227; border-radius: 3px"></div>
                            <div class="Ellipse17" style="width: 14.39px; height: 14.39px; left: 3.31px; top: 3.31px; position: absolute; background: #FFC227"></div>
                          </div>
                        </div>
                        <div class="Sunny" style="color: #FFC227; font-size: 12px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Sunny</div>
                      </div>
                    </div>
                    <div class="Frame3714" style="height: 192px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
                      <div class="Frame3711" style="width: 64px; height: 192px; position: relative; border-radius: 10px; border: 2px rgba(255, 255, 255, 0.10) solid">
                        <div class="Frame3711" style="width: 64px; height: 12px; left: 0px; top: 12px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                          <div class="Jan" style="align-self: stretch; text-align: center; color: rgba(255, 255, 255, 0.50); font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">20 Jan</div>
                        </div>
                        <div style="width: 64px; left: 0px; top: 76px; position: absolute; text-align: center; color: white; font-size: 32px; font-family: Gilroy-Bold; font-weight: 400; word-wrap: break-word">9°</div>
                        <div class="Frame3712" style="height: 42px; left: 0px; top: 138px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                          <div class="Sunny" style="width: 24px; height: 24px; justify-content: center; align-items: center; display: inline-flex">
                            <div class="Partlycloudy" style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                              <div class="Group117" style="width: 21px; height: 16.90px; position: relative">
                                <div class="Subtract" style="width: 11.23px; height: 7.96px; left: 0px; top: 0px; position: absolute; background: #FFC227"></div>
                                <div class="Union" style="width: 20.40px; height: 12.91px; left: 0.60px; top: 3.98px; position: absolute; background: #B4E0F8"></div>
                              </div>
                            </div>
                          </div>
                          <div class="Cloud" style="align-self: stretch; text-align: center; color: #B4E0F8; font-size: 12px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Cloud</div>
                        </div>
                      </div>
                    </div>
                    <div class="Frame3715" style="height: 192px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
                      <div class="Frame3711" style="width: 64px; height: 192px; position: relative; border-radius: 10px; border: 2px rgba(255, 255, 255, 0.10) solid">
                        <div class="Frame3711" style="width: 64px; height: 12px; left: 0px; top: 12px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                          <div class="Jan" style="align-self: stretch; text-align: center; color: rgba(255, 255, 255, 0.50); font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">20 Jan</div>
                        </div>
                        <div style="width: 64px; left: 0px; top: 76px; position: absolute; text-align: center; color: white; font-size: 32px; font-family: Gilroy-Bold; font-weight: 400; word-wrap: break-word">9°</div>
                        <div class="Frame3712" style="height: 42px; left: 0px; top: 138px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                          <div class="Rainy" style="width: 24px; height: 24px; position: relative">
                            <div class="Group78" style="height: 19.76px; left: 1.50px; top: 2.06px; position: absolute">
                              <div class="Union" style="width: 21px; height: 13.30px; left: 0px; top: 0px; position: absolute; background: #B4E0F8"></div>
                              <div class="Vector" style="width: 12.55px; height: 5.22px; left: 3.48px; top: 14.54px; position: absolute; background: #64D2FF"></div>
                            </div>
                          </div>
                          <div class="Rain" style="align-self: stretch; text-align: center; color: #B4E0F8; font-size: 12px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Rain</div>
                        </div>
                      </div>
                    </div>
                    <div class="Frame3716" style="height: 192px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
                      <div class="Frame3711" style="width: 64px; height: 192px; position: relative; border-radius: 10px; border: 2px rgba(255, 255, 255, 0.10) solid">
                        <div class="Frame3711" style="width: 64px; height: 12px; left: 0px; top: 12px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                          <div class="Jan" style="align-self: stretch; text-align: center; color: rgba(255, 255, 255, 0.50); font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">20 Jan</div>
                        </div>
                        <div style="width: 64px; left: 0px; top: 76px; position: absolute; text-align: center; color: white; font-size: 32px; font-family: Gilroy-Bold; font-weight: 400; word-wrap: break-word">9°</div>
                        <div class="Frame3712" style="height: 48px; left: 0px; top: 129px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                          <div class="Rainthunder" style="width: 24px; height: 24px; padding-top: 2.25px; padding-bottom: 2.24px; padding-left: 1.50px; padding-right: 1.50px; justify-content: center; align-items: center; display: inline-flex">
                            <div class="Group57" style="width: 21px; height: 19.51px; position: relative">
                              <div class="Vector2" style="width: 4.53px; height: 9.48px; left: 12.14px; top: 8.70px; position: absolute; background: #FFC227; border-radius: 2px"></div>
                              <div class="Subtract" style="width: 21px; height: 13.30px; left: 0px; top: 0px; position: absolute; background: #B4E0F8"></div>
                              <div class="Vector" style="width: 8.20px; height: 4.97px; left: 3.23px; top: 14.54px; position: absolute; background: #64D2FF"></div>
                            </div>
                          </div>
                          <div class="ThunderStorm" style="align-self: stretch; text-align: center; color: #B4E0F8; font-size: 12px; font-family: Gilroy-Bold; font-weight: 400; line-height: 12px; word-wrap: break-word">Thunder<br/>Storm</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="BottomSection" style="align-self: stretch; padding: 12px; background: rgba(255, 255, 255, 0.10); border-radius: 10px; flex-direction: column; justify-content: space-between; align-items: center; display: inline-flex">
                  <div class="Line7" style="align-self: stretch; height: 0px; border: 1px solid"></div>
                  <div class="Humidity" style="height: 44px; padding: 4px; flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
                    <div style="color: white; font-size: 24px; font-family: Gilroy-Bold; font-weight: 400; line-height: 20px; word-wrap: break-word">52%</div>
                    <div class="Humidity" style="color: rgba(255, 255, 255, 0.50); font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">Humidity</div>
                  </div>
                  <div class="Line5" style="width: 80px; height: 0px; border: 2px rgba(255, 255, 255, 0.10) solid"></div>
                  <div class="Humidity" style="height: 44px; padding: 4px; flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
                    <div class="Km" style="color: white; font-size: 24px; font-family: Gilroy-Bold; font-weight: 400; line-height: 20px; word-wrap: break-word">4 KM</div>
                    <div class="Visibility" style="color: rgba(255, 255, 255, 0.50); font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">Visibility</div>
                  </div>
                  <div class="Line6" style="width: 80px; height: 0px; border: 2px rgba(255, 255, 255, 0.10) solid"></div>
                  <div class="Humidity" style="height: 44px; padding: 4px; flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
                    <div style="color: white; font-size: 24px; font-family: Gilroy-Bold; font-weight: 400; line-height: 20px; word-wrap: break-word">0</div>
                    <div class="UvIndex" style="color: rgba(255, 255, 255, 0.50); font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">UV index</div>
                  </div>
                  <div class="Line8" style="align-self: stretch; height: 0px; border: 1px solid"></div>
                </div>
              </div>
              <div class="Frame3717" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 18px; display: inline-flex">
                <div class="Widgets" style="align-self: stretch; flex: 1 1 0; border-radius: 18px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                  <div class="Frame3677" style="align-self: stretch; flex: 1 1 0; padding: 12px; background: linear-gradient(180deg, #ED8868 0%, #EB6C50 100%); border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                      <div class="InteriorTemperature" style="align-self: stretch; flex: 1 1 0; color: white; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">Interior temperature</div>
                      <div class="Frame3684" style="align-self: stretch; justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
                        <div style="flex: 1 1 0; height: 37px; color: white; font-size: 44px; font-family: Gilroy-Bold; font-weight: 400; line-height: 48.40px; word-wrap: break-word">28°</div>
                        <div class="Frame3685" style="flex-direction: column; justify-content: flex-start; align-items: flex-end; display: inline-flex">
                          <div class="Frame3686" style="width: 24px; height: 24px; position: relative">
                            <div class="Group" style="width: 10px; height: 20px; left: 14px; top: 2px; position: absolute; opacity: 0.50">
                              <div class="Vector" style="width: 10px; height: 20px; left: 0px; top: 0px; position: absolute; background: black; border-radius: 68px"></div>
                              <div class="Vector" style="width: 5px; height: 11.67px; left: 2.50px; top: 5.83px; position: absolute; background: black; border-radius: 1px"></div>
                            </div>
                          </div>
                          <div class="Warm" style="width: 64px; height: 10px; opacity: 0.50; text-align: right; color: black; font-size: 12px; font-family: Gilroy-Bold; font-weight: 400; line-height: 12px; word-wrap: break-word">Warm</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Widgets" style="align-self: stretch; flex: 1 1 0; border-radius: 18px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                  <div class="Frame3678" style="align-self: stretch; flex: 1 1 0; padding: 12px; background: linear-gradient(180deg, #5A8FDE 0%, #2D78D1 100%); border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                      <div class="AirCondition" style="align-self: stretch; flex: 1 1 0; color: white; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">Air Condition</div>
                      <div class="Frame3684" style="align-self: stretch; justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
                        <div style="flex: 1 1 0; height: 37px; color: white; font-size: 44px; font-family: Gilroy-Bold; font-weight: 400; line-height: 48.40px; word-wrap: break-word">23°</div>
                        <div class="Frame3685" style="flex-direction: column; justify-content: flex-start; align-items: flex-end; display: inline-flex">
                          <div class="MaterialSymbolsAirRounded" style="width: 24px; height: 24px; position: relative">
                            <div class="Vector" style="width: 20px; height: 17px; left: 4px; top: 3.50px; position: absolute; opacity: 0.50; background: #101010"></div>
                          </div>
                          <div class="Cooling" style="width: 64px; height: 10px; opacity: 0.50; text-align: right; color: black; font-size: 12px; font-family: Gilroy-Bold; font-weight: 400; line-height: 12px; word-wrap: break-word">Cooling</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Frame3723" style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
              <div class="Frame3665" style="flex: 1 1 0; height: 103px; padding: 16px; background: white; border-radius: 18px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
                <div class="Frame3666" style="flex: 1 1 0; align-self: stretch; justify-content: space-between; align-items: center; display: flex">
                  <div class="Label" style="height: 68px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                    <div class="EnergySaving" style="width: 120px; height: 20px; color: #191919; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; word-wrap: break-word">Energy Saving</div>
                    <div class="35" style="width: 78px; height: 25px; color: #09D642; font-size: 32px; font-family: Gilroy-Bold; font-weight: 400; line-height: 32px; word-wrap: break-word">+35%</div>
                    <div class="Sunday21Jan2024" style="color: #C8CBCD; font-size: 12px; font-family: Lexend; font-weight: 400; line-height: 12px; word-wrap: break-word">Sunday, 21 Jan, 2024</div>
                  </div>
                  <img class="ThunderIllustration" style="width: 85px; height: 68px; box-shadow: 0px 14px 28px rgba(255, 230.25, 0, 0.25)" src="https://via.placeholder.com/85x68" />
                </div>
                <div class="Line5" style="width: 71px; align-self: stretch; transform: rotate(-90deg); transform-origin: 0 0; border: 1px rgba(200, 203, 205, 0.30) solid"></div>
                <div class="Frame3724" style="flex-direction: column; justify-content: center; align-items: flex-start; gap: 6px; display: inline-flex">
                  <div class="Frame3670" style="justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                    <div class="Group73" style="width: 24px; height: 24px; position: relative">
                      <div class="Ellipse2" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #7D68FF; border-radius: 9999px"></div>
                      <div class="RenewableEnergy1" style="width: 12px; height: 12px; left: 6px; top: 6px; position: absolute; background: #7D68FF; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div class="Vector" style="width: 12px; height: 11.98px; background: white"></div>
                      </div>
                    </div>
                    <div class="Frame3669" style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                      <div class="Today" style="color: #C8CBCD; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">Today</div>
                      <div class="6Kwh" style="color: black; font-size: 16px; font-family: Gilroy-Bold; font-weight: 400; line-height: 17px; word-wrap: break-word">28.6 kWh</div>
                    </div>
                  </div>
                  <div class="Frame3668" style="justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                    <div class="Group74" style="width: 24px; height: 24px; position: relative">
                      <div class="Ellipse3" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #FF6868; border-radius: 9999px"></div>
                      <div class="Energy1" style="width: 12px; height: 12px; left: 6px; top: 6px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div class="Vector" style="width: 12px; height: 12px; background: white"></div>
                      </div>
                    </div>
                    <div class="Frame78" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                      <div class="ThisMonth" style="color: #C8CBCD; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">This Month</div>
                      <div class="56Kwh" style="color: #191919; font-size: 16px; font-family: Gilroy-Bold; font-weight: 400; line-height: 16px; word-wrap: break-word">345.56 kWh</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="Modes" style="align-self: stretch; padding: 16px; background: white; border-radius: 18px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.10) solid; flex-direction: column; justify-content: center; align-items: flex-start; gap: 12px; display: inline-flex">
                <div class="Frame3666" style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                  <div class="Label" style="width: 160px; height: 68px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                    <div class="Mode" style="width: 120px; height: 16px; color: #191919; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Mode</div>
                    <div class="Eco" style="color: #09D642; font-size: 48px; font-family: Gilroy-Bold; font-weight: 400; line-height: 48px; word-wrap: break-word">Eco</div>
                  </div>
                  <div class="Home3" style="width: 24px; height: 24px; position: relative">
                    <div class="Icon" style="width: 20px; height: 17px; left: 2px; top: 3px; position: absolute; border: 2px black solid"></div>
                  </div>
                  <div class="Line6" style="width: 24px; height: 0px; transform: rotate(-90deg); transform-origin: 0 0; border: 1px #EFEFF0 solid"></div>
                  <div class="Car" style="width: 24px; height: 24px; position: relative">
                    <div class="Icon" style="width: 16px; height: 14px; left: 4px; top: 6px; position: absolute; border: 2px black solid"></div>
                  </div>
                  <div class="Line7" style="width: 24px; height: 0px; transform: rotate(-90deg); transform-origin: 0 0; border: 1px #EFEFF0 solid"></div>
                  <div class="Sleep" style="width: 24px; height: 24px; position: relative">
                    <div class="Icon" style="width: 18px; height: 17px; left: 3px; top: 4px; position: absolute; border: 2px black solid"></div>
                  </div>
                  <div class="Line8" style="width: 24px; height: 0px; transform: rotate(-90deg); transform-origin: 0 0; border: 1px #EFEFF0 solid"></div>
                  <div class="Leaf" style="width: 24px; height: 24px; position: relative">
                    <div class="Icon" style="width: 16px; height: 16px; left: 4px; top: 4px; position: absolute; box-shadow: 0px 4px 8px rgba(9, 214, 66, 0.25); border: 2px #09D642 solid"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Frame3725" style="align-self: stretch; flex: 1 1 0; flex-direction: column; justify-content: space-between; align-items: flex-start; display: flex">
              <div class="Frame23" style="align-self: stretch; height: 200px; padding: 16px; background: #F7F7F7; border-radius: 24px; overflow: hidden; flex-direction: column; justify-content: center; align-items: flex-start; gap: 12px; display: flex">
                <div class="Frame3703" style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 8px; padding-bottom: 8px; background: white; border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                  <div class="ScarletHome" style="color: #7A40F2; font-size: 24px; font-family: Gilroy-Bold; font-weight: 400; word-wrap: break-word">Scarlet Home :</div>
                </div>
                <div class="Frame3704" style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                  <div class="Component8" style="flex: 1 1 0; height: 110px; padding: 12px; background: linear-gradient(180deg, #5AA7DE 0%, #2D82D1 100%); border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                      <div class="Frame1" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                        <div class="Bulb" style="width: 48px; height: 48px; position: relative; background: linear-gradient(180deg, white 0%, #DDEBFB 100%); border-radius: 10px">
                          <div class="Icon" style="width: 16px; height: 24px; left: 32px; top: 12px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 2px #5AA7DE solid"></div>
                        </div>
                        <div class="Frame3690" style="flex: 1 1 0; height: 16px; padding-left: 4px; padding-right: 4px"></div>
                        <div class="Frame3692" style="align-self: stretch; padding: 2px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
                          <div class="Component2" style="width: 48px; height: 25.53px; position: relative; transform: rotate(180deg); transform-origin: 0 0">
                            <div class="Rectangle10" style="width: 48px; height: 26px; left: 0px; top: -0.47px; position: absolute; background: linear-gradient(180deg, white 0%, #DDEBFB 100%); border-radius: 25px"></div>
                            <div class="R1" style="width: 22px; height: 22px; left: 2px; top: 1.53px; position: absolute; background: linear-gradient(180deg, #5AA7DE 0%, #2D82D1 100%); border-radius: 25px"></div>
                          </div>
                        </div>
                      </div>
                      <div class="Frame3693" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex">
                        <div class="RoomLight" style="flex: 1 1 0; color: white; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Room Light</div>
                        <div class="On" style="color: white; font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">On</div>
                      </div>
                    </div>
                  </div>
                  <div class="Component9" style="flex: 1 1 0; height: 110px; padding: 12px; background: linear-gradient(180deg, #945ADE 0%, #752DD1 100%); border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                      <div class="Frame1" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                        <div class="Bulb" style="width: 48px; height: 48px; position: relative; background: linear-gradient(180deg, white 0%, #E8DDFB 100%); border-radius: 10px">
                          <div class="Icon" style="width: 16px; height: 24px; left: 32px; top: 12px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 2px #945ADE solid"></div>
                        </div>
                        <div class="Frame3690" style="flex: 1 1 0; height: 16px; padding-left: 4px; padding-right: 4px"></div>
                        <div class="Frame3692" style="align-self: stretch; padding: 2px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
                          <div class="Component2" style="width: 48px; height: 25.53px; position: relative; transform: rotate(180deg); transform-origin: 0 0">
                            <div class="Rectangle10" style="width: 48px; height: 26px; left: 0px; top: -0.47px; position: absolute; background: linear-gradient(180deg, white 0%, #E8DDFB 100%); border-radius: 25px"></div>
                            <div class="R1" style="width: 22px; height: 22px; left: 2px; top: 1.53px; position: absolute; background: linear-gradient(180deg, #945ADE 0%, #752DD1 100%); border-radius: 25px"></div>
                          </div>
                        </div>
                      </div>
                      <div class="Frame3693" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex">
                        <div class="PirSensor" style="flex: 1 1 0; color: white; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">PIR Sensor</div>
                        <div class="On" style="color: white; font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">On</div>
                      </div>
                    </div>
                  </div>
                  <div class="Component7" style="flex: 1 1 0; height: 110px; padding: 12px; background: linear-gradient(180deg, #DEA95A 0%, #D1722D 100%); border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                      <div class="Frame1" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                        <div class="Bulb" style="width: 48px; height: 48px; position: relative; background: linear-gradient(180deg, white 0%, #FBF3DD 100%); border-radius: 10px">
                          <div class="Icon" style="width: 16px; height: 24px; left: 32px; top: 12px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 2px #DEA95A solid"></div>
                        </div>
                        <div class="Frame3690" style="flex: 1 1 0; height: 16px; padding-left: 4px; padding-right: 4px"></div>
                        <div class="Frame3692" style="align-self: stretch; padding: 2px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
                          <div class="Component2" style="width: 48px; height: 25.53px; position: relative; transform: rotate(180deg); transform-origin: 0 0">
                            <div class="Rectangle10" style="width: 48px; height: 26px; left: 0px; top: -0.47px; position: absolute; background: linear-gradient(180deg, white 0%, #FBF3DD 100%); border-radius: 25px"></div>
                            <div class="R1" style="width: 22px; height: 22px; left: 2px; top: 1.53px; position: absolute; background: linear-gradient(180deg, #DEA95A 0%, #D1722D 100%); border-radius: 25px"></div>
                          </div>
                        </div>
                      </div>
                      <div class="Frame3693" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex">
                        <div class="Router" style="flex: 1 1 0; color: white; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Router</div>
                        <div class="On" style="color: white; font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">On</div>
                      </div>
                    </div>
                  </div>
                  <div class="Component6" style="flex: 1 1 0; height: 110px; padding: 12px; background: linear-gradient(180deg, #DE5A5A 0%, #CC2929 100%); border-radius: 18px; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div class="Frame3682" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                      <div class="Frame1" style="align-self: stretch; justify-content: flex-end; align-items: center; gap: 4px; display: inline-flex">
                        <div class="Bulb" style="width: 48px; height: 48px; position: relative; background: linear-gradient(180deg, white 0%, #FBDDDD 100%); border-radius: 10px">
                          <div class="Icon" style="width: 16px; height: 24px; left: 32px; top: 12px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 2px #DE5A5A solid"></div>
                        </div>
                        <div class="Frame3690" style="flex: 1 1 0; height: 16px; padding-left: 4px; padding-right: 4px"></div>
                        <div class="Frame3692" style="align-self: stretch; padding: 2px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
                          <div class="Component2" style="width: 48px; height: 25.53px; position: relative; transform: rotate(180deg); transform-origin: 0 0">
                            <div class="Rectangle10" style="width: 48px; height: 26px; left: 0px; top: -0.47px; position: absolute; background: linear-gradient(180deg, white 0%, #FBDDDD 100%); border-radius: 25px"></div>
                            <div class="R1" style="width: 22px; height: 22px; left: 2px; top: 1.53px; position: absolute; background: linear-gradient(180deg, #DE5A5A 0%, #CC2929 100%); border-radius: 25px"></div>
                          </div>
                        </div>
                      </div>
                      <div class="Frame3693" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex">
                        <div class="StrikeSensor" style="flex: 1 1 0; color: white; font-size: 18px; font-family: Gilroy-Bold; font-weight: 400; line-height: 18px; word-wrap: break-word">Strike Sensor</div>
                        <div class="On" style="color: white; font-size: 12px; font-family: Gilroy-Regular; font-weight: 400; line-height: 12px; word-wrap: break-word">On</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="Frame3703" style="align-self: stretch; height: 46px; padding-left: 12px; padding-right: 12px; padding-top: 8px; padding-bottom: 8px; background: #F7F7F7; border-radius: 18px; overflow: hidden; justify-content: space-between; align-items: center; display: inline-flex">
                <div class="PoweredByErfanFeizollahiMohammadParsaDehghani" style="color: #838A8F; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; word-wrap: break-word">Powered By Erfan Feizollahi & Mohammad-Parsa Dehghani</div>
                <div class="CloseCircle" style="width: 24px; height: 24px; position: relative">
                  <div class="Icon" style="width: 18px; height: 18px; left: 3px; top: 3px; position: absolute; border: 2px #838A8F solid"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="Frame3721" style="flex: 1 1 0; align-self: stretch; padding: 12px; background: #F7F7F7; border-radius: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
            <div class="Notifications" style="align-self: stretch; padding: 12px; background: white; border-radius: 10px; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
              <div class="Frame3726" style="width: 32px; height: 32px; position: relative">
                <div class="Icon" style="width: 24px; height: 24px; left: 4px; top: 4px; position: absolute; border: 2.40px black solid"></div>
                <div class="Ellipse5" style="width: 7.20px; height: 7.20px; left: 7.60px; top: 6.40px; position: absolute; background: #FF2F61; border-radius: 9999px; border: 2.40px black solid"></div>
              </div>
              <div class="Notifications" style="color: black; font-size: 24px; font-family: Gilroy-Bold; font-weight: 400; line-height: 22px; word-wrap: break-word">Notifications</div>
            </div>
            <div class="Notifications" style="align-self: stretch; height: 112px; padding: 12px; background: white; border-radius: 10px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 12px; display: flex">
              <div class="Frame3727" style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                <div class="Frame3726" style="width: 32px; height: 32px; position: relative">
                  <div class="Icon" style="width: 24px; height: 16.97px; left: 4px; top: 8px; position: absolute; border: 2.40px black solid"></div>
                </div>
                <div class="PirSensor" style="flex: 1 1 0; color: black; font-size: 24px; font-family: Gilroy-Bold; font-weight: 400; line-height: 24px; word-wrap: break-word">PIR Sensor</div>
              </div>
              <div class="Frame3719" style="align-self: stretch; justify-content: flex-start; align-items: center; display: inline-flex">
                <div class="MovementDetected" style="flex: 1 1 0; color: #838A8F; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">Movement Detected!</div>
                <div class="Jan453Pm" style="flex: 1 1 0; text-align: right; color: #838A8F; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">21 Jan, 4:53 PM</div>
                <div class="Frame3728" style="padding-left: 4px; padding-right: 4px; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                  <div class="Ellipse18" style="width: 8px; height: 8px; background: #7A40F2; border-radius: 9999px"></div>
                </div>
              </div>
              <div class="Frame3728" style="align-self: stretch; justify-content: flex-start; align-items: center; display: inline-flex">
                <div class="MovementDetected" style="flex: 1 1 0; color: #838A8F; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">Movement Detected!</div>
                <div class="Jan456Pm" style="flex: 1 1 0; text-align: right; color: #838A8F; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">21 Jan, 4:56 PM</div>
                <div class="Frame3728" style="padding-left: 4px; padding-right: 4px; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                  <div class="Ellipse18" style="width: 8px; height: 8px; background: #7A40F2; border-radius: 9999px"></div>
                </div>
              </div>
            </div>
            <div class="Notifications" style="align-self: stretch; height: 168px; padding: 12px; background: white; border-radius: 10px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 12px; display: flex">
              <div class="Frame3727" style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                <div class="Frame3726" style="width: 32px; height: 32px; position: relative">
                  <div class="Icon" style="width: 24px; height: 16.97px; left: 4px; top: 8px; position: absolute; border: 2.40px black solid"></div>
                </div>
                <div class="StrikeSensor" style="flex: 1 1 0; color: black; font-size: 24px; font-family: Gilroy-Bold; font-weight: 400; line-height: 24px; word-wrap: break-word">Strike Sensor</div>
              </div>
              <div class="Frame3719" style="align-self: stretch; justify-content: flex-start; align-items: center; display: inline-flex">
                <div class="StrikeDetected" style="flex: 1 1 0; color: #838A8F; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">Strike Detected!</div>
                <div class="Jan451Pm" style="flex: 1 1 0; text-align: right; color: #838A8F; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">21 Jan, 4:51 PM</div>
                <div class="Frame3728" style="padding-left: 4px; padding-right: 4px; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                  <div class="Ellipse18" style="width: 8px; height: 8px; background: #7A40F2; border-radius: 9999px"></div>
                </div>
              </div>
              <div class="Frame3728" style="align-self: stretch; justify-content: flex-start; align-items: center; display: inline-flex">
                <div class="StrikeDetected" style="flex: 1 1 0; color: #838A8F; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">Strike Detected!</div>
                <div class="Jan454Pm" style="flex: 1 1 0; text-align: right; color: #838A8F; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">21 Jan, 4:54 PM</div>
                <div class="Frame3728" style="padding-left: 4px; padding-right: 4px; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                  <div class="Ellipse18" style="width: 8px; height: 8px; background: #7A40F2; border-radius: 9999px"></div>
                </div>
              </div>
              <div class="Frame3729" style="align-self: stretch; justify-content: flex-start; align-items: center; display: inline-flex">
                <div class="StrikeDetected" style="flex: 1 1 0; color: #838A8F; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">Strike Detected!</div>
                <div class="Jan459Pm" style="flex: 1 1 0; text-align: right; color: #838A8F; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">21 Jan, 4:59 PM</div>
                <div class="Frame3728" style="padding-left: 4px; padding-right: 4px; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                  <div class="Ellipse18" style="width: 8px; height: 8px; background: #7A40F2; border-radius: 9999px"></div>
                </div>
              </div>
              <div class="Frame3730" style="align-self: stretch; justify-content: flex-start; align-items: center; display: inline-flex">
                <div class="StrikeDetected" style="flex: 1 1 0; color: #838A8F; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">Strike Detected!</div>
                <div class="Jan504Pm" style="flex: 1 1 0; text-align: right; color: #838A8F; font-size: 16px; font-family: Gilroy-Regular; font-weight: 400; line-height: 16px; word-wrap: break-word">21 Jan, 5:04 PM</div>
                <div class="Frame3728" style="padding-left: 4px; padding-right: 4px; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                  <div class="Ellipse18" style="width: 8px; height: 8px; background: #7A40F2; border-radius: 9999px"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



</body>